.MainContainer {
  height: 100%;
  background: var(--color-bg-base);
  transition: transform .3s ease-in-out,width .3s ease-in-out, display .3s ease-in-out;
}

.Sidemenu--open .MainContainer {
  transform: translate(200px, 0);
}

@media (max-width: 767px) {
  .MainContainer {
    transform: translate(0, 0);
  }

  .Sidemenu--open .MainContainer {
    transform: translate(-200px, 0);
  }
}