.Sidemenu {
  height: 100%;
  width: 200px;
  background: #aaa;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.Sidemenu--open .Sidemenu {
  display: none;
  transform: translate(-200px, 0);
}

@media (max-width: 767px) {
  .Sidemenu {
    transform: translate(-200px, 0);
  }
}