.Sidemenu {
  height: 100%;
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--color-text-light);
  transform: translate(-320px, 0);
  background: var(--color-bg-primary);
  transition: transform .4s cubic-bezier(0.0, 0.0, 0.2, 1), width .4s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.Application--menuopen .Sidemenu {
  transform: translate(0, 0);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
